* {
	background-color: #121619;
	color: #fff8f0;
	font-family: "Poppins", sans-serif;
}

.paintingsAll {
	border-color: #fff8f0 !important;
}

h1 {
	font-family: "Spartan";
}

.CYO {
	color: #ffcab1;
}

#nav {
	background-color: #a63d40;
	height: 100%;
	width: 3%;
	z-index: 1;
	padding-left: 1vw;
	left: 0;
	opacity: 0.9;
	overflow: hidden;
	transition: 2s;
}

.carousel-item img {
	height: 650px;
	width: auto;
}

.carousel-item p {
	font-size: 12px;
}

.menu {
	background-color: #a63d40;
	opacity: 0;
	transition: opacity 0.2s;
}

.material-icons {
	background-color: #a63d40;
	position: relative;
	left: -20%;
	top: 2%;
}

.menu:hover {
	opacity: 1;
	transition: opacity 2s;
}

.image-wrapper:hover .caption {
	visibility: visible;
	opacity: 1;
}

#nav a {
	text-decoration: none;
	font-size: 12px;
	color: #fff8f0;
	background-color: #a63d40;
}

#nav:hover {
	width: 15%;
	transition: 1s;
}

#nav a:hover {
	color: #ffcab1;
}

body {
	font-family: sans-serif;
}

.links-text {
	vertical-align: middle;
}

.footer {
	background-color: #5f7c8c;
	height: 150px;
}

a {
	text-decoration: none;
}

.footer {
	background-color: #5f7c8c;
	height: 150px;
}
.names {
	color: #fff8f0;
	background-color: rgba(95, 124, 140, 0.35);
}

.names.github:hover,
#explanation a:hover,
#voronoi-explained-link:hover,
.citation-link:hover {
	color: #ffcab1;
}
#explanation a,
#voronoi-explained-link,
.citation-link {
	color: #fff8f0;
}

h1 #welcome {
	font-family: "Spartan", sans-serif;
}

canvas {
	display: block;
	margin: auto;
}

small {
	text-align: center;
	display: block;
	margin: auto;
}
.title {
	color: #ffcab1;
	font-family: "Spartan", sans-serif;
}

#modal {
	z-index: 10;
	max-width: 70%;
	margin: auto;
	position: fixed;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(100, 111, 88, 0.9);
}

#modal.open {
	/* height: 500px;
	width: 50%; */
	/* overflow:hidden; */
}

.modalContent {
	height: 70%;
	width: 80%;
	margin: auto;
	position: relative;
	top: 20%;
	background-color: rgba(125, 133, 112, 0);
	padding-bottom: 18px;
}

.modalImage {
	margin: auto;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 100px;
}

#modalTitle {
	width: 100%;
	position: absolute;
	bottom: 40px;
	background-color: rgba(125, 133, 112, 0);
}
#modalLink {
	background-color: rgba(125, 133, 112, 0);
	color: #fff8f0;
}

#modalLink:hover {
	cursor: pointer;
	color: #121619;
}

#modalAuthor {
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: rgba(125, 133, 112, 0);
}

.open {
	display: block;
	overflow: auto;
}

.close {
	display: none;
}

.closeBtn {
	cursor: pointer;
	float: right;
	font-size: 14px;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 10px;
}

.closeBtn:hover {
	color: #121619;
}

.caption {
	position: relative;
	font-size: 0.75em;
	visibility: none;
	opacity: 0;
	transition: opacity 0.7s;
	color: #fff8f0;
}

.image-wrapper:hover .caption {
	visibility: visible;
	opacity: 1;
}

.gallery-container {
	display: flex;
	flex-wrap: wrap;
}

.gallery-image {
	flex-shrink: 0;
	flex-basis: fit-content;
}

#main p,
#explanation p {
	font-size: x-large;
	width: 75%;
}

.scrollToTop {

  cursor: pointer;
  color: #fff8f0;
  font-size: 2rem;

}

.scrollToTop:hover {
  color: #a63d40
}



.animate {

  font-size: 24px;
  font-weight: 1000;
  color: #fff8f0;
  z-index: 2;
  position: absolute;
  background-color: rgba(18, 22, 25, 0.65);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  width: 350px;

}

#formBtn:hover {
	background-color: #a63d40;
}

#infoModalLabel {
	background-color: rgba(36, 123, 160, 0);
}

.modal-header {
	background-color: rgba(36, 123, 160, 0.9);
}

.modal-body {
	background-color: rgba(241, 222, 222, 0.9);
}

.modal-footer {
	background-color: rgba(241, 222, 222, 0.9);
}

#infoBullets {
	background-color: rgba(241, 222, 222, 0);
	color: black;
}
#sampleTermBtn {
	background-color: rgba(36, 123, 160, 0.9);
	color: white;
}
#sampleTermBtn:hover {
	background-color: rgba(36, 123, 160, 0.7);
}

canvas:hover {
	cursor: pointer;
}

.noscroll {
	overflow: hidden;
}

.paragraphsMain {
  text-align: justify;
  text-justify: inter-word
}