* {

  background-color: #121619;
  color: whitesmoke;

}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.footer {
  background-color: #5f7c8c;
  height: 150px;

}

.names {
  background-color: #5f7c8c;
  color: white;
}

.names.github:hover {
  color: #ffcab1;
}

