* {

  background-color: #121619;
  color: #FFF8F0;
  font-family: 'Poppins', sans-serif

}
.bi{
  position: fixed; 
  z-index: 1; 
  top: 10px; 
  left: 0; 
  opacity: 1; 
  padding-top:10px;
  color: #FFF8F0
}

#nav {
  height: 100%;  
  width: .5%;  
  position: fixed; 
  z-index: 1; 
  left: 0; 
  background-color:#A63D40;
  overflow-x: hidden; 
  opacity: .75; 
}

#nav:hover {
  width: 20%;

}

#nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 14px;
  color: #FFF8F0;
  background-color:#A63D40;
  display: block;
  }

#nav span {
  font-size: 18px;
  color: #FFF8F0;
  background-color:#A63D40;
}

 #nav a:hover {
    color:  #FFCAB1;
    }

body {
  font-family: sans-serif;
}

.bi,
.links-text {
  vertical-align: middle;
}

.bi {
  background-color:#A63D40;
  margin-right: 30px;
  /* vertical-align: left; */
}

.footer {
  background-color: #5f7c8c;
  height: 150px;

}

a {
  text-decoration: none;
  
}

.names {
  color: #FFF8F0;
 background-color:  rgba(95,124,140, .35)
}


.names.github:hover {
  color: #ffcab1;
}


#welcome {
  font-family: 'Spartan', sans-serif;
}

canvas{
  display: block;
  margin: auto
}

.title{
  font-size: 50px;
  color: #ffcab1;
}


.image-wrapper{
  position:relative
}
.caption{
  position:relative; 
  bottom:0;
  visibility:none;
  opacity:0;
  transition: opacity 0.3s
}

.image-wrapper:hover .caption{
  visibility: visible;
  opacity: 1;
}

.gallery-container{
  display:flex;
  flex-wrap: wrap;
}
.gallery-image{
  flex-shrink:0;
  flex-basis:fit-content;
}

p{
  text-align: center;
  margin: auto;
  font-size: x-large;
  width: 600px;
}
